@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.9;

  &.btn {
    color: whitesmoke;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #2196f3;
    font-weight: 800;
    text-align: center;
  }

  &.btn-flat {
    color: whitesmoke;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    border: 1px solid;
    padding: 10px 5px;
  }

  & hover {
    opacity: 1;
  }
}

header {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: whitesmoke;
  padding-top: 1rem;
  max-width: 80vw;
  margin: auto;

  & .support-bar-area {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;

    & .support-contact-info > span {
      margin-right: 1.5rem;
    }

    & .social-links > * {
      margin-right: 1rem;
    }
  }

  & .nav-links-area {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & nav {
      display: flex;

      & li {
        margin-right: 1.5rem;
      }
    }

    & img.logo {
      width: 130px;
    }
  }
}

section.hero-area.hero-bg {
  width: 1440px;
  height: 780px;
  display: flex;
  background: 
  /* top transparent blue */ linear-gradient(rgba(20, 48, 65, 0.6), rgba(0, 48, 65, 0.6)),
    /* bottom, image */ url(./assets/images/back3.jpg) center;

  & .container {
    max-width: 80vw;
    margin: auto;
    flex: 1;
    height: 100%;

    & .hero-txt {
      color: whitesmoke;
      padding-top: 300px;

      & .brand {
        font-size: 2rem;
        font-weight: 500;
      }

      & .slogan {
        font-size: 3rem;
      }
    }
  }
}
