@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

$primary: rgba(241, 196, 15, 1);
$background-grey: rgba(236, 240, 241, 1);
$striped-grey: rgb(245, 245, 245);
$light-grey: rgb(165, 164, 164);
$white: rgb(255, 255, 255);
$blue: rgb(26, 59, 115);

html {
  scroll-behavior: smooth;
}

* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-right: -1px;
}

body {
  font-size: 1.2rem;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.9;
}

h1 {
  font-weight: 400;
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  display: inline-block;
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
  border: 1px solid $light-grey;
  outline: 0;
  border-radius: 1px;
}

section {
  padding-bottom: 1rem;
  &:nth-child(even) {
    background-color: $striped-grey;
  }
}

.btn {
  background-color: $primary;
  color: $white;
  text-transform: uppercase;
  // font-weight: 800;
  text-align: center;
  padding: 10px 5px;
  font-size: 1rem;
  display: block;

  &.btn-flat {
    background-color: transparent;
    border: 1px solid;
  }

  &.btn-round {
    border-radius: 4px;
  }

  &:hover {
    opacity: 1;
  }
}

.container {
  text-align: center;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

header {
  height: 100vh;
  color: $white;
  background: 
  /* top transparent blue */ linear-gradient(rgba(44, 62, 80, 0.5), rgba(44, 62, 80, 0.5)),
    /* bottom, image */ url(../images/back3.jpg) center;
  background-size: cover;
  padding: 1rem 0;

  & .logo {
    width: 120px;
  }

  & .row {
    display: flex;
    align-items: baseline;
    max-width: 90%;
    margin: auto;
  }

  & nav {
    text-align: center;
    text-transform: capitalize;

    & > a {
      // padding-left: 85%;
    }

    & ul {
      position: absolute;
      right: 0px;
      left: 0px;
      // height: 70vh;
      //   width: 90vw;
      max-width: 269px;
      margin: 0.3rem 0.3rem 0 auto;
      z-index: 1000;
      background-color: rgba(44, 62, 80, 1);
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.3s ease-in, opacity 0.3s ease-in;

      & .btn {
        // margin-top: 1rem;
      }

      &.show {
        visibility: visible;
        opacity: 1;
      }

      & li {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;

        & a {
          border-bottom: 2px solid transparent;
          transition: border-bottom 0.3s linear;

          &:hover {
            border-bottom: 2px solid $primary;
          }
        }
      }
    }
  }

  & .slogan {
    padding-bottom: 1rem;
  }

  & .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // margin-top: 11rem;

    & .btn {
      max-width: 12rem;
      margin: auto;
    }
  }
}

p.section-title {
  font-size: 1.5rem;
  font-weight: 500;
}

section.hero-bg {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8rem;
  color: $white;
  min-height: 35rem;
  display: flex;
  background: 
  /* top transparent blue */ linear-gradient(rgba(34, 40, 126, 0.514), rgba(0, 48, 65, 0)),
    /* bottom, image */ url(../images/back3.jpg) center;
  background-size: cover;

  .container {
    & .slogan {
      margin-bottom: 2rem;
    }
  }
}

section#services {
  & .section-title {
    padding: 2rem;
    // color: $light-grey;
    text-align: center;
  }

  & .container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
  }

  & .card:nth-child(even) {
    padding-top: 4rem;
  }

  & .card:nth-child(odd) {
    height: 90%;
  }

  & .card {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.151);
    border-radius: 8px;
    text-align: center;
    padding: 2rem;
    transform: translateY(0);
    transition: 0.3s;
    width: 20rem;

    &:hover {
      transform: translateY(-0.5rem);
    }

    & img {
      max-width: 100%;
      margin: auto;
    }

    & h2 {
      padding: 0.5rem;
    }

    & p {
      font-size: 1.1rem;
    }

    & a {
      font-size: 1rem;
      color: $primary;
      padding: 1rem;
      display: block;
    }
  }
}

section#sale {
  color: $light-grey;
  & .single-sale {
    & .sale-txt > * {
      margin-bottom: 1rem;
    }
    & img {
      width: 150px;
    }
    & .username {
      color: $primary;
    }
  }
}

section#contact {
  padding-left: 1rem;
  padding-right: 1rem;
  color: $light-grey;

  & .contact-section-content-container {
    display: flex;
    justify-content: space-evenly;
  }

  & .contact-form {
    max-width: 50%;
  }

  & form {
    & textarea {
      width: 100%;
      height: 10rem;
      padding-top: 1rem;
      padding-left: 1rem;
      border: 1px solid $light-grey;
      outline: 0;
      border-radius: 1px;
    }

    & input {
      margin-bottom: 1rem;
    }
  }

  & .contact-info {
    & .icon-wrapper {
      display: flex;
      align-items: center;
      margin: 2rem;

      & > i {
        color: $primary;
        margin-right: 0.5rem;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $white;
  background-color: #414a4f;
  padding: 60px 0;

  & ul {
    display: flex;
    margin-bottom: 25px;
    font-size: 32px;

    & > li {
      margin-right: 1rem;
    }
  }
}

#back-to-top.show {
  opacity: 1;
  right: 30px;
}

#back-to-top {
  background-color: $primary;
  border: 1px solid $primary;
}

#back-to-top {
  bottom: 30px;
  right: 30px;
  position: fixed;
  color: $white;
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: $primary;
  border: 1px solid $primary;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
