@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

$primary: rgb(255, 204, 9);
$striped-grey: rgb(245, 245, 245);
$light-grey: rgb(165, 164, 164);
$white: rgb(255, 255, 255);
$blue: rgb(26, 59, 115);

html {
  scroll-behavior: smooth;
}

* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.2rem;
  // display: grid;
  // grid-template: 10% 1fr 10%;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.9;
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  display: inline-block;
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
  border: 1px solid $light-grey;
  outline: 0;
  border-radius: 1px;
}

section {
  padding-bottom: 1rem;
  &:nth-child(even) {
    background-color: $striped-grey;
  }
}

.btn {
  background-color: $primary;
  color: $white;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  padding: 10px 5px;
  font-size: 0.7rem;

  &.btn-flat {
    background-color: transparent;
    border: 1px solid;
  }

  &.btn-round {
    border-radius: 4px;
  }

  &:hover {
    opacity: 1;
  }
}

.container {
  text-align: center;
  width: 100vw;
}

#nav {
  // display: flex;
  // flex-direction: column;
  // height: 100vh;
}

header {
  color: $blue;
  position: absolute;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  // padding: 1.5rem 5% 0;

  .hide-mobile {
    display: none;
  }

  & .logo {
    width: 130px;
  }

  & .menu {
    background-color: $white;
  }

  & nav{
    width: 100%;
  }
  // & nav {
  //   color: $white;
  //   background-color: red;
  //   height: 100vh;
  //   text-align: center;
  //   display: flex;
  //   flex-direction: column;

  //   & a {
  //     text-align: right;
  //   }

  //   & li {
  //     margin-right: 1.5rem;
  //   }
  // }
}

p.section-title {
  font-size: 1.5rem;
  font-weight: 500;
}

section.hero-bg {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8rem;
  color: $white;
  min-height: 35rem;
  display: flex;
  background: 
  /* top transparent blue */ linear-gradient(rgba(34, 40, 126, 0.514), rgba(0, 48, 65, 0)),
    /* bottom, image */ url(../images/back3.jpg) center;
  background-size: cover;

  .container {
    & .slogan {
      margin-bottom: 2rem;
    }
  }
}

section#sale {
  color: $light-grey;
  & .single-sale {
    & .sale-txt > * {
      margin-bottom: 1rem;
    }
    & img {
      width: 150px;
    }
    & .username {
      color: $primary;
    }
  }
}

section#contact {
  padding-left: 1rem;
  padding-right: 1rem;
  color: $light-grey;

  & .contact-section-content-container {
    display: flex;
    justify-content: space-evenly;
  }

  & .contact-form {
    max-width: 50%;
  }

  & form {
    & textarea {
      width: 100%;
      height: 10rem;
      padding-top: 1rem;
      padding-left: 1rem;
      border: 1px solid $light-grey;
      outline: 0;
      border-radius: 1px;
    }

    & input {
      margin-bottom: 1rem;
    }
  }

  & .contact-info {
    & .icon-wrapper {
      display: flex;
      align-items: center;
      margin: 2rem;

      & > i {
        color: $primary;
        margin-right: 0.5rem;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $white;
  background-color: #414a4f;
  padding: 60px 0;

  & ul {
    display: flex;
    margin-bottom: 25px;
    font-size: 32px;

    & > li {
      margin-right: 1rem;
    }
  }
}

#back-to-top.show {
  opacity: 1;
  right: 30px;
}

#back-to-top {
  background-color: $primary;
  border: 1px solid $primary;
}

#back-to-top {
  bottom: 30px;
  right: 30px;
  position: fixed;
  color: $white;
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: $primary;
  border: 1px solid $primary;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
