@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
html {
  scroll-behavior: smooth;
}

* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-right: -1px;
}

body {
  font-size: 1.2rem;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.9;
}

h1 {
  font-weight: 400;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  display: inline-block;
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
  border: 1px solid #a5a4a4;
  outline: 0;
  border-radius: 1px;
}

section {
  padding-bottom: 1rem;
}
section:nth-child(even) {
  background-color: whitesmoke;
}

.btn {
  background-color: #f1c40f;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 5px;
  font-size: 1rem;
  display: block;
}
.btn.btn-flat {
  background-color: transparent;
  border: 1px solid;
}
.btn.btn-round {
  border-radius: 4px;
}
.btn:hover {
  opacity: 1;
}

.container {
  text-align: center;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

header {
  height: 100vh;
  color: white;
  background: linear-gradient(rgba(44, 62, 80, 0.5), rgba(44, 62, 80, 0.5)), url(../images/back3.jpg) center;
  background-size: cover;
  padding: 1rem 0;
}
header .logo {
  width: 120px;
}
header .row {
  display: flex;
  align-items: baseline;
  max-width: 90%;
  margin: auto;
}
header nav {
  text-align: center;
  text-transform: capitalize;
}
header nav ul {
  position: absolute;
  right: 0px;
  left: 0px;
  max-width: 269px;
  margin: 0.3rem 0.3rem 0 auto;
  z-index: 1000;
  background-color: #2c3e50;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease-in, opacity 0.3s ease-in;
}
header nav ul.show {
  visibility: visible;
  opacity: 1;
}
header nav ul li {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
header nav ul li a {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s linear;
}
header nav ul li a:hover {
  border-bottom: 2px solid #f1c40f;
}
header .slogan {
  padding-bottom: 1rem;
}
header .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .container .btn {
  max-width: 12rem;
  margin: auto;
}

p.section-title {
  font-size: 1.5rem;
  font-weight: 500;
}

section.hero-bg {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8rem;
  color: white;
  min-height: 35rem;
  display: flex;
  background: linear-gradient(rgba(34, 40, 126, 0.514), rgba(0, 48, 65, 0)), url(../images/back3.jpg) center;
  background-size: cover;
}
section.hero-bg .container .slogan {
  margin-bottom: 2rem;
}

section#services .section-title {
  padding: 2rem;
  text-align: center;
}
section#services .container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-column-gap: 0.5rem;
  grid-row-gap: 1rem;
}
section#services .card:nth-child(even) {
  padding-top: 4rem;
}
section#services .card:nth-child(odd) {
  height: 90%;
}
section#services .card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.151);
  border-radius: 8px;
  text-align: center;
  padding: 2rem;
  transform: translateY(0);
  transition: 0.3s;
  width: 20rem;
}
section#services .card:hover {
  transform: translateY(-0.5rem);
}
section#services .card img {
  max-width: 100%;
  margin: auto;
}
section#services .card h2 {
  padding: 0.5rem;
}
section#services .card p {
  font-size: 1.1rem;
}
section#services .card a {
  font-size: 1rem;
  color: #f1c40f;
  padding: 1rem;
  display: block;
}

section#sale {
  color: #a5a4a4;
}
section#sale .single-sale .sale-txt > * {
  margin-bottom: 1rem;
}
section#sale .single-sale img {
  width: 150px;
}
section#sale .single-sale .username {
  color: #f1c40f;
}

section#contact {
  padding-left: 1rem;
  padding-right: 1rem;
  color: #a5a4a4;
}
section#contact .contact-section-content-container {
  display: flex;
  justify-content: space-evenly;
}
section#contact .contact-form {
  max-width: 50%;
}
section#contact form textarea {
  width: 100%;
  height: 10rem;
  padding-top: 1rem;
  padding-left: 1rem;
  border: 1px solid #a5a4a4;
  outline: 0;
  border-radius: 1px;
}
section#contact form input {
  margin-bottom: 1rem;
}
section#contact .contact-info .icon-wrapper {
  display: flex;
  align-items: center;
  margin: 2rem;
}
section#contact .contact-info .icon-wrapper > i {
  color: #f1c40f;
  margin-right: 0.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #414a4f;
  padding: 60px 0;
}
footer ul {
  display: flex;
  margin-bottom: 25px;
  font-size: 32px;
}
footer ul > li {
  margin-right: 1rem;
}

#back-to-top.show {
  opacity: 1;
  right: 30px;
}

#back-to-top {
  background-color: #f1c40f;
  border: 1px solid #f1c40f;
}

#back-to-top {
  bottom: 30px;
  right: 30px;
  position: fixed;
  color: white;
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: #f1c40f;
  border: 1px solid #f1c40f;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*# sourceMappingURL=index.css.map */
